@charset "utf-8";

body {
  min-width: 225px;
  display: flex;
  justify-content: center;
}

label {
  line-height: 2;
  font-size: 1.25em;
}

input {
  font-size: 1.5em;
}

input#loopControl {
  margin: 0.5em 0.25em 0.5em 0;
}

button {
  font-size: 1.25em;
  border-radius: 5%;
  padding: 0.25em 1em;
}

button#setPlaybackRate {
  background-color: #cd201f;
  border: none;
  color: white;
  font-weight: 600;
}

button#resetPlaybackRate,
button#closePopUp {
  background-color: transparent;
  border: 1px solid #cd201f;
  color: #cd201f;
}

.form {
  display: flex;
  flex-direction: column;
}

*:focus {
  outline: 1px solid #cd201f;
}

input[type='checkbox']:focus {
  outline: none;
}
